<div class="container">
  <h3 class="mb-3 display-4">INTORODUCTION</h3>
  <br>

  <!-- 誕生日 -->
  <div class="card-columns">
    <ul *ngFor="let memberOne of todayBirthDayMemberName">
      <app-member-card [memberName]="memberOne[0]" [isPrimary]="true"></app-member-card>
    </ul>
  </div>

  <!-- 誕生日 -->
  <div class="card-columns">
    <ul *ngFor="let memberOne of nearBirthDayMemberName">
      <app-member-card [memberName]="memberOne[0]" [isPrimary]="false"></app-member-card>
    </ul>
  </div>

    <!-- 天気 -->
    <div class="card-columns">
      <ul *ngFor="let weatherOne of weatherInfoList">
      <div class="card border-warning mb-3" style="max-width: 30rem;">
        <div class="card-header">{{weatherOne.name}}</div>
        <div class="card-body text-Secondary">
          <div class="card-body text-Secondary ">
            <p class="card-text">天気：{{weatherOne.desc}}</p>
            <p class="card-text">気温：{{weatherOne.templature}}℃</p>
            <p class="card-text">湿度：{{weatherOne.humidity}}％</p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
  