<div class="container">
  <h3 class="mb-3 display-4">{{todayDate}}</h3>
  <br>

  <div class="card-columns">
    <!-- 天気 -->
    <div class="card border-primary mb-3" style="max-width: 30rem;">
      <div class="card-header">Today Wether</div>
      <div class="card-body text-Secondary">
        <p class="card-text">晴れ</p>
       </div>
    </div>

    <!-- 誕生日 -->
    <div class="card border-warning mb-3" style="max-width: 30rem;">
        <div class="card-header">Happy Birthday!</div>
        <div class="card-body text-Secondary ">
        <p class="card-text">
          <ul *ngFor="let memberOne of birthDayMemberName">
            <li><a href="https://48pedia.org/{{memberOne[0]}}">{{memberOne[0]}}</a>：{{memberOne[1]}}才</li> 
          </ul>
      </div>
    </div>

    <!-- イベント -->
    <div class="card border-Secondary mb-3" style="max-width: 30rem;">
      <div class="card-header">Onther Event</div>
      <div class="card-body text-Secondary ">
        <div class="card-body text-Secondary">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
      </div>
  </div>

  </div>
</div>
  