<div class="container">
  <h3 class="mb-3 display-4">推しメン占い</h3>
  <br>
  <form #f="ngForm" [formGroup]="myControl" (ngSubmit)="onSubmit(f.value)">
    
    <!-- 誕生日 -->
    <div class="form-group col-sm-5">
      <label for="select1a">Your birthday</label>
      <input type="date" class="form-control" formControlName="birthday">
    </div>

    <!-- 血液型 -->
    <div>
      <div class="form-group col-sm-5">
        <label for="select1a">Your blood type</label>
        <select #select1a id="select1a" (change)="selectBloodType(select1a.value)" class="form-control">
          <option value=""></option>
          <option *ngFor="let item of bloodInfo">{{item.name}}</option>
        </select>
      </div>
    </div>

    <!-- 名前 -->
    <app-required-text [inputName]="firstNameMsg" (edited)="editedFirstName($event)"></app-required-text>
    <app-required-text [inputName]="lastNameMsg" (edited)="editedLastName($event)"></app-required-text>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" [disabled]="f.invalid">占う</button>
    </div>
    <br>
  </form>

  <!-- 推しメン -->
  <p *ngIf="isDispEnable == true">
    あなたの推しメンは
    <a class="mb-3 display-4" href="https://48pedia.org/{{memberScore[0].name}}">{{memberScore[0].name}}</a>
    です！
  </p>

</div>
